In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
data = pd.read_csv('Resources/2019-Nov.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42448764 entries, 0 to 42448763
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.8+ GB

In [3]:
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [4]:
data.isnull().sum()

event_time              0
event_type              0
product_id              0
category_id             0
category_code    13515609
brand             6117080
price                   0
user_id                 0
user_session            2
dtype: int64

In [5]:
data.dropna(how = 'any', inplace = True)
data.isnull().sum()

event_time       0
event_type       0
product_id       0
category_id      0
category_code    0
brand            0
price            0
user_id          0
user_session     0
dtype: int64

In [6]:
data.groupby("event_type")["event_type"].count().sort_values(ascending=False)

event_type
view        25201706
cart          809407
purchase      549507
Name: event_type, dtype: int64

In [7]:
#Dropping columns not relevent to our analysis
data = data.drop(columns=['user_id'])
data = data.drop(columns=['user_session'])

In [8]:
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98
5,2019-10-01 00:00:05 UTC,view,1480613,2053013561092866779,computers.desktop,pulser,908.62
8,2019-10-01 00:00:10 UTC,view,28719074,2053013565480109009,apparel.shoes.keds,baden,102.71

In [9]:
#checking data size after null values have been dropped
data.shape

(26560620, 7)

In [12]:
data['event_time'].value_counts()

2019-10-15 08:52:00 UTC    79
2019-10-24 17:07:55 UTC    74
2019-10-13 09:44:03 UTC    71
2019-10-05 16:22:18 UTC    69
2019-10-13 11:01:42 UTC    69
                           ..
2019-10-20 22:10:39 UTC     1
2019-10-20 22:10:30 UTC     1
2019-10-20 22:10:29 UTC     1
2019-10-20 22:10:27 UTC     1
2019-10-31 23:59:59 UTC     1
Name: event_time, Length: 2558113, dtype: int64

In [28]:
#Redcuing data size furthe by taking a sample using groupby function
data = data.groupby('product_id').sample(n=1, random_state=1)

In [22]:
#Checking data size
data.shape

(60371, 7)

In [23]:
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price
40765973,2019-10-30 14:43:35 UTC,view,1000978,2053013555631882655,electronics.smartphone,samsung,301.14
11300334,2019-10-09 16:53:18 UTC,view,1001588,2053013555631882655,electronics.smartphone,meizu,128.19
5818667,2019-10-05 14:17:22 UTC,view,1001606,2053013555631882655,electronics.smartphone,apple,363.07
3759827,2019-10-04 05:15:52 UTC,view,1002042,2053013555631882655,electronics.smartphone,samsung,77.14
19455887,2019-10-15 09:19:49 UTC,view,1002062,2053013555631882655,electronics.smartphone,samsung,107.59

In [30]:
data.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price'],
      dtype='object')

In [25]:
data['category_code'].value_counts()

electronics.clocks               5377
apparel.shoes                    5274
electronics.audio.headphone      2012
apparel.shoes.keds               1971
apparel.underwear                1920
                                 ...
apparel.shoes.espadrilles           7
country_yard.furniture.bench        4
auto.accessories.anti_freeze        4
country_yard.furniture.hammok       4
construction.tools.soldering        1
Name: category_code, Length: 126, dtype: int64

In [31]:
# export to csv
data.to_csv('Resources/Cleaned_ECommerce_Nov_2019.csv',encoding='utf-8',index=False)